.layout {
  padding-top: 50px;
}

.input-group {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.title {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  font-size: 22px;
}

.todo-group {
  display: flex;
  margin: 0 20px 0 20px;
}

.todo-box {
  border: 1px solid green;
  border-radius: 12px;
  width: 120px;
  height: 120px;
  text-align: center;
  margin-left: 10px;
}

p {
  margin: 5px;
}
